<?xml version="1.0"?>
<launch>
	<arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="z" default="0.0"/>
	<arg name="airplane_type" default="tracked"/>
	<arg name="airplane_name" default="airplane"/>
	<arg name="gpu" default="false"/>
	<arg name="organize_cloud" default="false"/>
	<arg name="angle" default="-1.57"/>
	
	<!-- Load the urdf into the parameter server. -->


	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" args="_publish_frequency:= 50" ns="/$(arg airplane_name)">
		<param name="tf_prefix" value="$(arg airplane_name)" />
	</node>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ns="/$(arg airplane_name)">
	</node>

	

	<arg name="urdf_robot_file" default="$(find airplane_formation_control)/urdf/airplane_move.xacro"/>
	<param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_robot_file)' airplane_name:='$(arg airplane_name)' organize_cloud:=$(arg organize_cloud) gpu:=$(arg gpu)" />
	<node name="spawn_model_airplane" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg angle) -model $(arg airplane_name) -param robot_description"/>

</launch>